<!DOCTYPE html>
<html>
<% include partials/head.ejs %>
<body>
	<% include partials/nav.ejs %>
	<script type="text/javascript">
	$(document).ready(function(){
		setTimeout(function() {
	        $(".alert").slideUp('fast');
	    }, 6000);
	});
	</script>
	<%if(  typeof (catEliminada) != 'undefined' && catEliminada == 1){%>
		<div id="alerta" class="alert alert-success">
			<p>La categoria fue eliminada</p>
		</div>
	<%}%>

	<%if(  typeof (categoriaCambiada) != 'undefined' && categoriaCambiada == true){%>
		<div id="alerta" class="alert alert-success">
			<p>La categoria fue cambiada</p>
		</div>
	<%}%>

	<%if(  typeof (categoriaCambiada) != 'undefined' && categoriaCambiada == false){%>
		<div id="alerta" class="alert alert-danger">
			<p>Hubo un error al cambiar la categoria, intente mas tarde</p>
		</div>
	<%}%>

	<%if( typeof (catEliminada) != 'undefined' && catEliminada == 0){%>
		<div id="alerta" class="alert alert-danger">
			<p>La categoria no puede ser eliminada ya que posee publicaciones</p>
		</div>
	<%}%>

	<%if( typeof (catInsertada) != 'undefined' && catInsertada){%>
		<div class="alert alert-success">
			<p>La categoría ha sido agregada correctamente</p>
		</div>
	<%}%>

	<%if( typeof (catInsertada) != 'undefined' && !catInsertada){%>
		<div class="alert alert-danger">
			<p>Ya existe una categoría con ese nombre</p>
		</div>
	<%}%>

	<div class="col-md-12">
  	<% if (categorias.length) { %>
  		<div class="text-center"><h1>Administración de categorías</h1></div>
		<table class="table" style="width:50%"  align="center">
			<thead>
				<tr>
					<th> </th>
					<th> </th>
					<th> </th>
				</tr>
			</thead>
			<tbody>	
				<% categorias.forEach(function(datos) { %> 
		    		<% if(sesionUsuario.idUsuario != datos.idUsuario) {%>		    			
					    	<tr>					    	
								<td><%= datos.nombre %></td>
								<td>
										<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modalModificar" style="width: 14em" data-idCategoria ="<%=datos.idCategoria%>" data-nombreCategoria="<%=datos.nombre%>" data-backdrop='static'>Modificar
		                                </button>
								</td>
								<td>
										<a id="eliminarCategoria" type="button" href="/eliminarCategoria/<%=datos.idCategoria%>/<%=sesionUsuario.idUsuario%>" class="confirmarEliminar btn btn-danger" style="width: 14em" >Eliminar
		                                </a>						
		                                <script type="text/javascript">
		                                $(document).ready(function(){
		                                $('.confirmarEliminar').confirm({text:"¿Esta seguro de que desea eliminar la categoria?"});
		                            	});
		                                </script>
								</td>
							</tr>
						<%}%>
				<% }); %>
				<tr>
					<td>
						</br>
						<button id="bAgregar" type="button" class="btn btn-success" style="width: 14em" data-backdrop='static' data-toggle="modal" data-target="#modalAgregarCategoria" data-whatever="@mdo">Agregar Categoría
			            </button>	
		            </td>
				</tr>

			</tbody>
		</table>
	<% }else{ %>
		<div class="alert alert-danger">Actualmente no hay categorías</div>
	<% } %>
	</div>

		<div class="modal fade" id="modalModificar" tabindex="-1" role="dialog" aria-labelledby="modalModificarLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="modalOfertaLabel">Modificar Categoria</h4>
                    </div>
                    <!--///////FORM DE MODIFICAR/////////-->
                    <form id="formModificar" method="POST" action="/modificarCategoria">
                        <div id="formModificarBody" class="modal-body">
                            <div class="form-group">
                                <label for="message-text" class="control-label">Nuevo nombre:</label>
                                <input id="newNombreCategoria" name="newNombreCategoria" form="formModificar" maxlength="100" class="form-control" required/>
                                <input id="idCategoriaModificada" name="idCategoriaModificada" style="display:none" type="number" value="" required>
                	        </div>
                        </div>
                        <div class="modal-footer">
                            <input type="submit" class="btn btn-primary" value="Aceptar"></button>
                        </div>
                    </form>
                    <!--///////FORM DE MODIFICAR/////////-->
                </div>
            </div>
        </div>

		<% include partials/footer.ejs %>
	<div class="modal fade" id="modalAgregarCategoria" tabindex="-1" role="dialog" aria-labelledby="modalAgregarLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalAgregarLabel">Crea una Categoría:</h4>
                </div>
                <!--///////FORM DE AGREGAR/////////-->
                <form id="formAgregar" method="POST" action="/agregarCategoria">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="message-text" class="control-label">Nombre de la Categoría:</label>
                            <input id="nombreCategoria" name="nombreCategoria" form="formAgregar" maxlength="40" class="form-control" required />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-success" value="Agregar"></button>
                    </div>
                </form>
                <!--///////FORM DE AGREGAR/////////-->
            </div>
        </div>
    </div>

	<% include partials/footer.ejs %>

</body>	
	<script src="/javascript/jquery-confirm.js"></script>
	<script src="/javascript/administrarCategorias.js"></script>
	<script src="/javascript/jquery-confirm.min.js"></script>
	<script src="/javascript/chequeoNotificaciones.js"></script>
</html>