<!DOCTYPE html>
<html>
<% include partials/head.ejs %>
<body>
	<% include partials/nav.ejs %>
	 <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-md-3">
                <p class="lead">Categorías</p>
                <div class="list-group">
                    <% if (categorias.length) { %>
                        <% categorias.forEach(function(datos) { %>
                            <a href="/categoria/<%=datos.idCategoria%>" class="list-group-item"><%= datos.nombre %></a>
                        <% }) %>
                    <% } else { %>
                        <p style="font-size: 0.9em;">No hay categorias disponibles</p>
                    <% } %>
                </div>
            </div>

            <div class="col-md-9">
            	
            <% if (publicaciones.length) { %>
                <% publicaciones.forEach(function(datos) { %>
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail" style="height: 20em;  word-wrap: break-word;">
                    <a href="producto/<%=datos.idPublicacion%>">
                        <img class="img-responsive" src ="<%=datos.foto%>" style="width: 18em; height: 12em;" alt="" >
                    </a>
                        <div class="caption-full">
                            <h4><a href="producto/<%=datos.idPublicacion%>">
                                <% if (datos.titulo.length > 45) { %>
                                    <%= datos.titulo.substring(0,43) + '...' %>
                                <% } else { %>
                                    <%= datos.titulo %>
                                <% } %>
                            </a></h4>
                            <p  style="font-size: 0.9em;">
                            <% if (datos.descripcion.length > 50) { %>
                                <%= datos.descripcion.replace("\n"," ").substring(0,47) + '...' %>
                            <% } else { %>
                                <%= datos.descripcion.replace("\n"," ") %>
                            <% } %>
                            </p>
                        </div>
                    </div>
                </div>
                <%})%>
            <% } else {%>
                <div class="alert alert-danger">No hay publicaciones disponibles</div>
            <% } %>
            </div>

        </div>

    </div>
    <!-- /.container -->
	<% include partials/footer.ejs %>
	
</body>
</html>