<!DOCTYPE html>
<html>
<% include partials/head.ejs %>
<body>
	<% include partials/nav.ejs %>
	<div class="container">
        <section style="padding-bottom: 2em; padding-top: 2em;">
            <div class="row">
                <div class="col-md-4">
                    <div class="col-md-10 text-center" style="margin-bottom:3em">
                    <img src="<%=sesionUsuario.foto%>" class="img-circle img-responsive" style="width: 20em; height: 20em;" alt="" />
                    <form method="POST" action="/actualizarImagen/<%=sesionUsuario.idUsuario%>" enctype="multipart/form-data">
                	    <div class="col-sm-14" style="margin-top:0.5em; margin-bottom:0.5em">
		                    <span class="btn btn-success btn-file">
		                        Cambiar&hellip; <input type="file" name="pic" accept="image/*">
		                    </span>
                	    </div>
                	    <div class="col-sm-14">
                	    	<button type="submit" class="btn btn-success">Confirmar</button>
                	    </div>
					</form>
                    </div>
                    <form method="POST" action="/actualizarInfo/<%=sesionUsuario.idUsuario%>">
	                    <label for="nombreUsuario" class="control-label">Nombre de Usuario</label>
	                    <input type="text" class="form-control" maxlength="30" placeholder="<%= sesionUsuario.nombreUsuario %>" id="nombreUsuario" value="<%=nombreUsuario%>" name="nombreUsuario">
	                    <% if (usuarioExistente) { %>
	                        <div class="col-md-14">
			            		<div class="alert alert-danger">
			            			<span>El nombre de usuario elegido ya existe :(</span>
			            		</div>
			            	</div>
			            <% } %>
	                    <br>
	                    <label for="nombre" class="control-label">Nombre</label>
	                    <input type="text" class="form-control" maxlength="30" placeholder="<%= sesionUsuario.nombre %>" id="nombre" value="<%=nombre%>" name="nombre">
	                    <br>
	                    <label for="nombre" class="control-label">Apellido</label>
	                    <input type="text" class="form-control" maxlength="30" placeholder="<%= sesionUsuario.apellido %>" id="apellido" value="<%=apellido%>" name="apellido">
	                    <br>
	                    <label for="nombre" class="control-label">E-Mail</label>
	                    <input type="email" class="form-control" maxlength="50" placeholder="<%= sesionUsuario.mail %>" id="mail" value="<%=mail%>" name="mail">
	                    <br>
	                    <br>
	                    <div class="form-group">
		                    <div class="col-sm-16 text-right">
	                    		<button type="submit" class="btn btn-success">Actualizar Datos</button>
	                    	</div>
	                    </div>
                    </form>
                    <br>
                    <form method="POST" action="/actualizarPassword/<%=sesionUsuario.idUsuario%>">
	                    <div class="form-group col-md-16">
	                        <br />
	                        <label>Antigua Contraseña</label>
	                        <input type="password" class="form-control" pattern="[A-Za-z0-9]{8,16}" title="La contraseña debe tener al menos 8 caracteres" maxlength="16" placeholder="entre 8 y 16 caracteres" id="oldPass" name="oldPass" required>
	                        <% if (passwordIncorrecta) { %>
		                        <div class="col-md-14">
				            		<div class="alert alert-danger">
				            			<span>La contraseña ingresada es incorrecta</span>
				            		</div>
				            	</div>
				            <% } %>
	                        <br />
	                        <label>Nueva Contraseña</label>
	                        <input type="password" class="form-control" pattern="[A-Za-z0-9]{8,16}" title="La contraseña debe tener al menos 8 caracteres" maxlength="16" placeholder="entre 8 y 16 caracteres" id="newPass" name="newPass" required>
	                    	<br>
	                    	
	                    	<br>
	                        <div class="form-group">
		                    	<div class="col-sm-16 text-right">
	                        		<button type="submit" class="btn btn-warning">Cambiar Contraseña</button>
	                        	</div>
	                        </div>
	                    </div>
                    </form>
                    <br /><br/>
                </div>
                <div class="col-md-8">
                	<% if (passwordCambiada) { %>
                        <div id="passChangedDiv" class="col-md-12">
		            		<div class="alert alert-success">
		            			<span>La contraseña se ha actualizado correctamente</span>
		            		</div>
		            	</div>
		            <% } %>
		            <% if (datosCambiados) { %>
                        <div id="dataChangedDiv" class="col-md-12">
		            		<div class="alert alert-success">
		            			<span>Sus datos personales se han actualizado correctamente</span>
		            		</div>
		            	</div>
		            <% } %>
                	<div class="col-md-12" style="margin-bottom:2em">
	                    <div class="jumbotron">
	                        <h2>Información: </h2>
	                        <br>
	                        <% if (sesionUsuario.esAdmin == 1) { %>
	                        	<h4>Usuario Administrador</h4>
	                        <% } else { %>
	                        	<h4>Usuario Regular</h4>
	                        <% } %>
	                        <h4>Ingresos: <%= '$' + parseInt(sesionUsuario.ingresos) %> </h4>
	                        <h4>Fecha de Registro: <%= sesionUsuario.fechaRegistro %> </h4>
	                    </div>
	                    <ul class="nav nav-pills">
	                    	<li id="bPublicaciones" data-userId="<%=sesionUsuario.idUsuario%>"><a href="#" onclick="return false;">Mis Publicaciones</a></li>
                    		<li id="bOfertas" data-userId="<%=sesionUsuario.idUsuario%>"><a href="#" onclick="return false;">Mis Ofertas</a></li>
                    		<li id="bPreguntas"><a href="/perfil/<%=sesionUsuario.idUsuario%>/preguntas">Mis Preguntas</a></li>
                        	<% if (sesionUsuario.esAdmin) { %>
                        		<li id="bEstadisticas"><a href="/perfil/<%=sesionUsuario.idUsuario%>/estadisticas">Estadísticas</a></li>
                        	<% } %>
	                    </ul>
	                </div>
	                <div id="resultados" class="col-md-14">
			            <br/>
			            <!-- Aca se cargan los resultados de las consultas -->
			            
			        </div>
                </div>
            </div>
            <!-- ROW END -->


        </section>
        <!-- SECTION END -->
    </div>
    <!-- CONATINER END -->
	<% include partials/footer.ejs %>

</body>

<script src="/javascript/perfil.js"></script>

</html>
