<!DOCTYPE html>
<html>
<% include partials/head.ejs %>
<body>
	<% include partials/nav.ejs %>
	<div class="container">
        <section style="padding-bottom: 2em; padding-top: 2em;">
            <div class="row">
                <div class="col-md-4">
                    <div class="col-md-10 text-right" style="margin-bottom:3em">
                    <img src="<%= sesionUsuario.foto %>" class="img-rounded img-responsive" style="width: 20em; height: 20em;" alt="" />
                    	<a href="#" type="file" class="file btn btn-success glyphicon glyphicon-pencil"> Editar</a>
                    </div>
                    <form method="POST" action="/actualizarInfo/<%=sesionUsuario.idUsuario%>">
	                    <label for="nombreUsuario" class="control-label">Nombre de Usuario</label>
	                    <input type="text" class="form-control" maxlength="30" placeholder="<%= sesionUsuario.nombreUsuario %>" id="nombreUsuario" name="nombreUsuario">
	                    <br>
	                    <label for="nombre" class="control-label">Nombre</label>
	                    <input type="text" class="form-control" maxlength="30" placeholder="<%= sesionUsuario.nombre %>" id="nombre" name="nombre">
	                    <br>
	                    <label for="nombre" class="control-label">Apellido</label>
	                    <input type="text" class="form-control" maxlength="30" placeholder="<%= sesionUsuario.apellido %>" id="apellido" name="apellido">
	                    <br>
	                    <label for="nombre" class="control-label">E-Mail</label>
	                    <input type="email" class="form-control" maxlength="50" placeholder="<%= sesionUsuario.mail %>" id="mail" name="mail">
	                    <br>
	                    <br>
	                    <div class="form-group">
		                    <div class="col-sm-16 text-right">
	                    		<button type="submit" class="btn btn-success">Actualizar Datos</button>
	                    	</div>
	                    </div>
                    </form>
                    <br>
                    <form method="POST" action="/actualizarPassword/<%=sesionUsuario.idUsuario%>">
	                    <div class="form-group col-md-16">
	                        <br />
	                        <label>Antigua Contraseña</label>
	                        <input type="password" class="form-control" minlength="8" maxlength="16" placeholder="entre 8 y 16 caracteres" id="oldPass" name="oldPass">
	                        <br />
	                        <label>Nueva Contraseña</label>
	                        <input type="password" class="form-control" minlength="8" maxlength="16" placeholder="entre 8 y 16 caracteres" id="newPass" name="newPass">
	                        <br><br>
	                        <div class="form-group">
		                    	<div class="col-sm-16 text-right">
	                        		<button type="submit" class="btn btn-warning">Cambiar Contraseña</button>
	                        	</div>
	                        </div>
	                    </div>
                    </form>
                    <br /><br/>
                </div>
                <div class="col-md-8">
                	<div class="col-md-12" style="margin-bottom:2em">
	                    <div class="alert alert-info">
	                        <h2>Información: </h2>
	                        <br>
	                        <% if (sesionUsuario.esAdmin == 1) { %>
	                        	<h4>Usuario Administrador</h4>
	                        <% } else { %>
	                        	<h4>Usuario Regular</h4>
	                        <% } %>
	                        <h4>Ingresos: <%= '$' + parseInt(sesionUsuario.ingresos) %> </h4>
	                        <h4>Fecha de Registro: <%= sesionUsuario.fechaRegistro %> </h4>
	                    </div>
	                    <ul class="nav nav-pills">
	                    	<% if (tipoContenido == 'publicaciones') { %>
	                    		<li class="active"><a href="/perfil/<%=sesionUsuario.idUsuario%>/publicaciones">Mis Publicaciones</a></li>
	                    		<li><a href="/perfil/<%=sesionUsuario.idUsuario%>/ofertas">Mis Ofertas</a></li>
	                    		<li><a href="/perfil/<%=sesionUsuario.idUsuario%>/preguntas">Mis Preguntas</a></li>
	                        	<% if (sesionUsuario.esAdmin) { %>
	                        		<li><a href="/perfil/<%=sesionUsuario.idUsuario%>/estadisticas">Estadísticas</a></li>
	                        	<% } %>
	                    	<% } else if (tipoContenido == 'ofertas') { %>
	                    		<li><a href="/perfil/<%=sesionUsuario.idUsuario%>/publicaciones">Mis Publicaciones</a></li>
	                    		<li class="active"><a href="/perfil/<%=sesionUsuario.idUsuario%>/ofertas">Mis Ofertas</a></li>
	                    		<li><a href="/perfil/<%=sesionUsuario.idUsuario%>/preguntas">Mis Preguntas</a></li>
		                        <% if (sesionUsuario.esAdmin) { %>
		                        	<li><a href="/perfil/<%=sesionUsuario.idUsuario%>/estadisticas">Estadísticas</a></li>
		                        <% } %>
	                    	<% } else if (tipoContenido == 'preguntas') { %>
	                    		<li><a href="/perfil/<%=sesionUsuario.idUsuario%>/publicaciones">Mis Publicaciones</a></li>
	                    		<li><a href="/perfil/<%=sesionUsuario.idUsuario%>/ofertas">Mis Ofertas</a></li>
	                    		<li class="active"><a href="/perfil/<%=sesionUsuario.idUsuario%>/preguntas">Mis Preguntas</a></li>
		                        <% if (sesionUsuario.esAdmin) { %>
		                        	<li><a href="/perfil/<%=sesionUsuario.idUsuario%>/estadisticas">Estadísticas</a></li>
		                        <% } %>
	                    	<% } else if (tipoContenido == 'estadisticas') { %>
	                        	<li><a href="/perfil/<%=sesionUsuario.idUsuario%>/publicaciones">Mis Publicaciones</a></li>
	                    		<li><a href="/perfil/<%=sesionUsuario.idUsuario%>/ofertas">Mis Ofertas</a></li>
	                    		<li><a href="/perfil/<%=sesionUsuario.idUsuario%>/preguntas">Mis Preguntas</a></li>
		                        <% if (sesionUsuario.esAdmin) { %>
		                        	<li class="active"><a href="/perfil/<%=sesionUsuario.idUsuario%>/estadisticas">Estadísticas</a></li>
		                        <% } %>
	                        <% } %>
	                    </ul>
	                </div>
	                <div class="col-md-14">
			            <br/>
			            <% if (publicaciones.length) { %>
			                <% publicaciones.forEach(function(datos) { %>
			                <div class="col-sm-4 col-lg-4 col-md-4">
			                    <div class="thumbnail" style="height: 20em;  word-wrap: break-word;">
			                    <a href="/producto/<%=datos.idPublicacion%>">
			                        <img class="img-responsive" src ="<%=datos.foto%>" style="width: 18em; height: 12em;" alt="" >
			                    </a>
			                        <div class="caption-full">
			                            <h4><a href="producto/<%=datos.idPublicacion%>">
			                                <% if (datos.titulo.length > 37) { %>
			                                    <%= datos.titulo.substring(0,35) + '...' %>
			                                <% } else { %>
			                                    <%= datos.titulo %>
			                                <% } %>
			                            </a></h4>
			                            <p  style="font-size: 0.9em;">
			                            <% if (datos.descripcion.length > 78) { %>
			                                <%= datos.descripcion.replace("\n"," ").substring(0,75) + '...' %>
			                            <% } else { %>
			                                <%= datos.descripcion.replace("\n"," ") %>
			                            <% } %>
			                            </p>
			                        </div>
			                    </div>
			                </div>
			                <%})%>
			            <% } else {%>
			            	<div class="col-md-12">
			            		<div class="alert alert-danger"><span>No hay publicaciones disponibles</span>></div>
			            	</div>
			            <% } %>
			        </div>
                </div>
            </div>
            <!-- ROW END -->


        </section>
        <!-- SECTION END -->
    </div>
    <!-- CONATINER END -->
	<% include partials/footer.ejs %>

</body>
</html>
