<!DOCTYPE html>
<html>
<% include partials/head.ejs %>
<body>
	<% include partials/nav.ejs %>

	 <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-md-9">

                <div class="thumbnail">
                    <img class="img-responsive img-rounded" src="<%= publicacion.foto %>" alt="" style="max-height: 40em;">
                    <div class="caption-full">
                        <h1><%= publicacion.titulo %></h1>
                        <hr/>
                        <br/>
                        <p><%= publicacion.descripcion%></p>
                    </div>
                </div>

                <div class="well">
                <% if (publicacion.terminada == false) {%>
                <h4>Faltan <%= Math.floor((Date.UTC(publicacion.fechaFin.split('-')[0], publicacion.fechaFin.split('-')[1] - 1, publicacion.fechaFin.split('-')[2]) - Date.now()) / (1000 * 60 * 60 * 24))%> dias para que termine la publicacion
                </h4>
                <%}else {%>
                    <h4>La publicacion ha terminado</h4>
                <%}%>
                
                <%if (typeof(sesionUsuario) != 'undefined' && !(sesionUsuario.idUsuario == publicacion.idUsuario)){%>
                    <div class="text-right">
                        <button id="bPreguntar" type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalPregunta" data-whatever="@mdo">Preguntar</button>
                        <button id="bOfertar" type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalOferta" data-whatever="@mdo">Ofertar</button>
                    </div>
                <%}%>
                    

                    <%if (typeof(sesionUsuario) != 'undefined' && sesionUsuario.idUsuario == publicacion.idUsuario && publicacion.terminada == true){%>
                        <hr>
                        <h4><%= ofertas.length %> Ofertas:%></h4>
                        <hr>
                        <% if (ofertas.length !== 0 ) { %>
                            <% ofertas.forEach(function(oferta) { %>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="alert alert-success col-md-9">
                                    <span class="pull-right"><%=oferta.fechaOferta.split('-')[2] + '/' + oferta.fechaOferta.split('-')[1] + '/' + oferta.fechaOferta.split('-')[0]%></span>
                                    <p><%= oferta.texto%></p>
                                    </div>
                                    <button type="button" class="pull-right btn btn-primary">Elegir ganador</button>
                                </div>
                            </div>
                            <hr>
                            <% }); %>
                        <%} else {%>
                            <div class="alert alert-danger">Nadie ha realizado Ofertas</div>
                        <%}%>                        
                    <%}%>

                    <%if (typeof(sesionUsuario) != 'undefined') { %>
                        <% ofertas.forEach(function(oferta) { %>
                            <%if(oferta.idUsuario == sesionUsuario.idUsuario){%>
                                <div class="row" style="margin-bottom: 0em;">
                                    <div class="col-md-12" style="margin-bottom: 0em">
                                        <p>Usted quiere este producto porque: </p>
                                        <div class="alert alert-info col-md-9" style="margin-bottom: 0em; margin-top:0.5em;">
                                            <span class="pull-right"><%=oferta.fechaOferta.split('-')[2] + '/' + oferta.fechaOferta.split('-')[1] + '/' + oferta.fechaOferta.split('-')[0]%></span>
                                            <p><%=oferta.texto%><p>
                                            <br>
                                            <p>Y ofrece: <%= oferta.monto%><span class="glyphicon glyphicon-usd"></span></p>
                                        </div>
                                        <div class="text-right" style="margin-top: 6.1em">
                                            <button type="button" class="btn btn-warning">Modificar</button>
                                            <button type="button" class="btn btn-danger">Eliminar</button>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                            <%}%>
                        <% });%>
                    <%}%>
                    <h4><%=preguntasYRespuestas.length%> preguntas</h4>
                    <hr>
                    <% if (preguntasYRespuestas.length !== 0 ) { %>
                        <% preguntasYRespuestas.forEach(function(datos) { %>
                        <div class="row">
                            <div class="col-md-12">
                                <span class="pull-right"><%=datos.fechaPregunta.split('-')[2] + '/' + datos.fechaPregunta.split('-')[1] + '/' + datos.fechaPregunta.split('-')[0]%></span>
                                <p>
                                    <span class="glyphicon glyphicon-question-sign"></span>
                                    <%= datos.textoPregunta %>
                                </p>
                                <%if (datos.idRespuesta != null ){%>
                                    <div class="comment-content">
                                        <span class="glyphicon glyphicon-chevron-right"></span><%= datos.textoRespuesta%>
                                    </div>
                                <%} else {%>
                                    <%if (typeof(sesionUsuario) != 'undefined' && sesionUsuario.idUsuario == publicacion.idUsuario) {%>
                                        <div class="text-right">
                                            <button type="button" class="btn btn-primary botonResponder" data-toggle="modal" data-target="#modalRespuesta" data-whatever="@mdo" data-idPregunta="<%=datos.idPregunta%>" style="margin-top: 0.7em; margin-left: 3em">Responder</button>
                                        </div>
                                    <%}%>
                                <%}%>
                            </div>
                        </div>
                        <hr>
                        <% }); %>
                    <%} else {%>
                        <div class="alert alert-danger">Nadie ha realizado preguntas, escribe una!</div>
                    <%}%>

                </div>

            </div>
            <%if (typeof(sesionUsuario) != 'undefined' && sesionUsuario.idUsuario == publicacion.idUsuario){%>
             <div class="col-md-3">
                <p class="lead">Opciones</p>
                <div class="list-group">
                    <a href="#" class="list-group-item"><span class="glyphicon glyphicon-trash"></span> Eliminar Publicación</a>
                    <a href="#" class="list-group-item"><span class="glyphicon glyphicon-pencil"></span> Modificar Publicación</a>
                </div>
            </div>
            <%}%>
        </div>

    </div>


    <%if (typeof(sesionUsuario) != 'undefined'){%>
    <!--modal fade para preguntar-->

    <div class="modal fade" id="modalPregunta" tabindex="-1" role="dialog" aria-labelledby="modalPreguntaLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalPreguntaLabel">¿Tienes una duda de este producto?</h4>
                </div>
                <!--///////FORM DE PREGUNTA/////////-->
                <form id="formPregunta" action="#">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="message-text" class="control-label">Pregunta:</label>
                            <textarea id="textoPregunta" style="resize:none" form="formPregunta" maxlength="100" class="form-control" required ></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-success" value="Preguntar"></button>
                    </div>
                </form>
                <!--///////FORM DE PREGUNTA/////////-->
            </div>
        </div>
    </div>

    <!--modal fade para ofertar-->
    <div class="modal fade" id="modalOferta" tabindex="-1" role="dialog" aria-labelledby="modalOfertaLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalOfertaLabel">¿Quieres ofertar para este producto?</h4>
                </div>
                <!--///////FORM DE OFERTA/////////-->
                <form id="formOferta" method="POST" action="/ofertar/<%=publicacion.idPublicacion%>/<%=sesionUsuario.idUsuario%>" data-idPublicacion="<%=publicacion.idPublicacion%>" data-idUsuario="<%=sesionUsuario.idUsuario%>">
                    <div id="formOfertaBody" class="modal-body">
                        <div class="form-group">
                            <label for="message-text" class="control-label">Quieres este producto porque:</label>
                            <textarea id="textoOferta" name="textoOferta" style="resize:none" form="formOferta" maxlength="100" class="form-control" required></textarea>
                            <br>
                            <label for="message-text" class="control-label">Ofreces por este producto:</label>
                            <div class="input-group col-md-4">
                                <input type="number" id="montoOfrecido" name="montoOfrecido" form="formOferta" class="form-control" min="1" max="9999999" step="0.01" size="4" required />
                                <span class="input-group-addon">$</span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-success" value="Ofertar"></button>
                    </div>
                </form>
                <!--///////FORM DE OFERTA/////////-->
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalRespuesta" tabindex="-1" role="dialog" aria-labelledby="modalRespuestaLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalRespuestaLabel">Responde a esta pregunta:</h4>
                </div>
                <!--///////FORM DE RESPUESTA/////////-->
                <form id="formRespuesta" method="POST" action="/responder/<%=publicacion.idPublicacion%>" data-idPregunta="">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="message-text" class="control-label">Respuesta:</label>
                            <textarea id="textoRespuesta" name="textoRespuesta" style="resize:none" form="formRespuesta" maxlength="100" class="form-control" required ></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-success" value="Responder"></button>
                    </div>
                </form>
                <!--///////FORM DE RESPUESTA/////////-->
            </div>
        </div>
    </div>

    <% } %>


	<% include partials/footer.ejs %>
</body>

<script src="/javascript/publicacion.js"></script>

</html>
